compile.bat
*.csproj
*.user
*.userprefs
*.sln
*.suo
*.cache
*.build
*.mdp
*.mds

[Oo]bj/
[Bb]in/

# Visual Studio files
.vs/
OpenMetaverse.GUI/OpenMetaverse.GUI.XML
OpenMetaverse.StructuredData/OpenMetaverse.StructuredData.XML
OpenMetaverse.Utilities/OpenMetaverse.Utilities.XML
OpenMetaverse/OpenMetaverse.XML
OpenMetaverseTypes/OpenMetaverseTypes.XML
